@import "tailwindcss";

/* Google Translate Customization - Hiding Default UI */
.skiptranslate > iframe.skiptranslate {
  display: none !important;
  visibility: hidden !important;
}
body {
  top: 0px !important;
}
#google_translate_element {
  display: none !important;
}
.goog-te-spinner-pos {
  display: none !important;
}
font {
  background-color: transparent !important;
  box-shadow: none !important;
}